{% extends "base.html" %}

{% block title %}Courses{% endblock %}

{% block content %}
<!-- Sidebar -->
<div class="d-flex">
  <div class="flex-shrink-0 p-3 bg-body-tertiary" style="width: 280px; min-height: 100vh;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32" aria-hidden="true">
        <use xlink:href="#bootstrap"></use>
      </svg>
      <span class="fs-4">Sidebar</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a href="{% url 'student_dashboard' %}" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
            <use xlink:href="#home"></use>
          </svg>
          Home
        </a>
      </li>
      <!-- Add more links here -->
      <li class="nav-item">
        <a href="{% url 'course_list' %}" class="nav-link active" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
            <use xlink:href="#home"></use>
          </svg>
          Courses
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
            <use xlink:href="#home"></use>
          </svg>
          Category
        </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16" aria-hidden="true">
            <use xlink:href="#home"></use>
          </svg>
          Assignments
        </a>
      </li>
    </ul>
  </div>
  <div class="container">
    <h2>Course List</h2>
    <a href="{% url 'create_course' %} ">Add Course</a>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Title</th>
          <th scope="col">Category</th>
          <th scope="col">Price</th>
          <th scope="col">Date</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        {% for course in courses %}
        <tr>
          <td>{{ course.id }}</td>
          <td>{{ course.title }}</td>
          <td>{{ course.category }}</td>
          <td>{{ course.price }}</td>
          <td>{{ course.created_at }}</td>
          <td>
            <form method="post" action="{% url 'enroll' course.id %}">
            {% csrf_token %}
            <button type="submit">Enroll</button>
        </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}