<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Online learning system</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr"
      crossorigin="anonymous"
    />
  </head>
  <body>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
      crossorigin="anonymous"
    ></script>
    <div class="container">
      <h2>Instructor List</h2>
      <a href="{% url 'instructor_profile' %} ">Add Instructor</a>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Username</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Expertise</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for instructor in instructors %}
          <tr>
            <td>{{ instructor.id }}</td>
            <td>{{ instructor.last_name }} {{ instructor.first_name }}</td>
            <td>{{ instructor.user.username }}</td>
            <td>{{ instructor.phone_number }}</td>
            <td>{{ instructor.address }}</td>
            <td>{{ instructor.expertise }}</td>
            <td>
                <a href="{% url 'instructor_edit' instructor.id %} ">Edit</a>
                <a href="{% url 'instructor_delete' instructor.id %} ">Delete</a>
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </body>
</html>